.research {
    background: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sy_1 {
    background: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sy_1_title {
    margin-top: 0px;
}

.sy_3_info {
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-bottom: 10px;
}

.sec_two {
    display: flex;
    /* 启用 Flexbox */
    justify-content: space-between;
    /* 均匀分布左右间距 */
    gap: 20px;
    /* 可选：设置两个 section 之间的间隙 */
}

.sec_two_left {
    flex: 1;
    /* 等分剩余空间 */
    min-width: 0;
    /* 防止内容溢出 */
    padding: 20px;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sec_two_right {
    flex: 1;
    /* 等分剩余空间 */
    min-width: 0;
    /* 防止内容溢出 */
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sy_4_info {
    font-size: 18px;
    font-family: '宋体';
}

.sy_2_title {
    font-size: 22px;
    font-family: '仿宋';
    color: black;
    font-weight: bold;
    text-align: center;
}

.sy_5_info {
    font-size: 18px;
    font-family: '宋体';
    margin-bottom: 10px;
}